@import '../../app.scss';

.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, black,rgba(0, 0, 0, 0.267));
    z-index: 100;
    @include mobile{
        padding-top: 50px;
        // border: 2px solid rebeccapurple;
    }
    
    .wrapper{
        max-width: 1266px;
        height: 100%;
        margin: auto;
        @include mobile{
            position: absolute;
            top: 55%;
            height: 50%;
            // border: 2px solid rebeccapurple;
        }
        .textContainer{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            width: 50%;
            // border: 2px solid rebeccapurple;
            @include mobile{
                width: 90%;
                top: 0;
                gap: 10px;
                margin:-40px  auto;
            }
            h2{
                font-size: 30px;
                color:rebeccapurple;
                letter-spacing: 6px;
                @include mobile{
                    font-size: 20px;
                }
            }
            h1{
                font-size: 88px;
                @include mobile{
                    font-size: 50px;
                }
                
            }
            .buttons{
                // position: relative;
                display: flex;
                width: 100%;
                // height: 100%;
                // border: 2px solid rebeccapurple;
                button{
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer;
                    z-index: 10;
                    // position: absolute;
                }
            }
        }
        img{
            width: 50px;
        }
    }
    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;
        // border: 2px solid rebeccapurple;
        margin-right: 3rem;
        img{
            height: 100%;
        }
        @include mobile{
            height: 45%;
            // left: 50%;
            // right: 50%;
            margin-right: 0;
            right: 20%;
            // left: 50%;
        }
    }
    .slidingTextContainer{
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 100%;
        font-weight: 700;
    }
}